{% extends "dashboard/layout.html" %}
{% load static %}

{% block body %}

<div class="navbar">
    <a class="">Current user: {{parent.user}} </a>
</div>
<div class="main">
    <div class='monospaced layout_student'>

        <div class='subjects_p'>
            <p class='pid'>Subjects</p>
            {% with xss=student.xclass %}
            {% for c in xss.subjects.all %}
            <ul.>
                <li>{{c.subject_name}}</li>
            </ul.>
            {% endfor %}
            {% endwith %}
        </div>
        <div class='absences_p'>

            <p class='pid'>Absences</p>
            <p>Total number of absences : {{student.absences.count}}</p>
            {% for absence in student.absences.all %}
            <ul">
                <li>

                    {{absence.date}}
                    in
                    {{absence.subject}}

                </li>
            </ul">
            {% endfor %}
        </div>
        <div class=" part2 grades_p ttl averages">
            <h3>Averages</h3>
            {% for grade, subject in avgs %}
            <ul>
                <li>{{subject}} : {{grade}}</li>
            </ul>
            {% endfor %}
        </div>
    </div>

    <div class='monospaced part2'>
        <div class='grades_p'>
            <p class='pid'>Recent Grades</p>
            {% for grade in student.grades.all %}
            <ul">
                <li>
                    {{grade.grade}}
                    at
                    {{grade.subject}}
                    on
                    {{grade.date}}
                    </li">
            </ul">
            {% endfor %}
        </div>

    </div>
    <div class='monospaced part3'>
        <div class='contact_p'>
            <p class='pid'>Contact</p>
            {% with xss=student.xclass %}
            {% for tech in xss.teachers.all %}
            <ul">
                <li><a href="{% url 'student:teacher' email=tech.email %}">{{tech.first}} {{tech.last}} </a></li>
            </ul">
            {% endfor %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}k %}